.featured {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: 0px 2px;
}

.featuredItem {
  position: relative;
  color: white;
  border-radius: 5px;
  overflow: hidden;
  z-index: -1;
}

.featuredImg {
  width: 210px;
  height: 297px;
  object-fit: cover;
}

.featuredTitle {
  position: absolute;
  bottom: 12px;
  left: 10px;
}
