.navbar {
  height: 3rem;
  background-color: #003580;
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 700;
  font-size: large;
  color: white;
}

.navItems {
  margin: 0 10px;
  font-weight: 600;
  font-size: large;
  color: white;
  justify-content: space-between;
}

.navButton {
  padding: 0.4rem 1rem;
  font-size: medium;
  background-color: #0071c2;
  color: white;
  border: solid 1px white;
  padding: auto;
  justify-content: space-between;
}

.headerIcon {
  color: white;
  margin: 0 4px;
}
